<h1>Settings</h1>

<section>
    <ul>
        <li [ngClass]="'list-'+color">
            <h2>Theme</h2>
            <select (change)="setTheme($event)">
                <option>-- select a theme --</option>
                <option *ngFor="let t of themes" value="{{t}}">{{t | titlecase}}</option>
            </select>
        </li>

        <li [ngClass]="'list-'+color">
            <h2>Show list content on Random page</h2>
            <i class="bi bi-eye"></i><b>Show</b>&nbsp;<i class="bi bi-toggle-on" *ngIf="showList" (click)="changeShowList()"></i><i class="bi bi-toggle-off" *ngIf="!showList" (click)="changeShowList()"></i>&nbsp;<b>Hide</b><i class="bi bi-eye-slash"></i>
        </li>

        <li [ngClass]="'list-'+color">
            <h2>Delete ALL lists</h2>
            <button [ngClass]="'btn-'+color"  *ngIf="!alertDel" (click)="removeList()" >Delete my saved lists</button>
            <button [ngClass]="'btn-'+color"  *ngIf="alertDel" (click)="deleteList()" >Confirm to delete saved lists</button>
        </li>

        <li [ngClass]="'list-'+color">
            <h2>About</h2>
            <p>ChoiceMaker v 1.0.0<br>
                Developped by Ginji <br>
                Follow me on <a href="https://funkyduck.be" target="_blank">FunkyDuck</a> and <a href="https://loic-jacques.com" target="_blank">Loïc Jacques</a><br>
                My <a href="" target="_blank">LinkedIn</a> and my <a href="" target="_blank">GitHub</a>
            </p>
        </li>
    </ul>
    
</section>
